<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.rapidline">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Register_Entries"></activity>
        <activity android:name=".Form.AddBailForm" />
        <activity android:name=".Form.TransportersForm" />
        <activity android:name=".Form.LabourForm" />
        <activity android:name=".Form.AgentForm" />
        <activity android:name=".Form.SenderRecieverForm" />
        <activity android:name=".HomeScreens.AddActivities.ListActivities" />
        <activity android:name=".HomeScreens.Home" />
        <activity android:name=".Form.PatriForm" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>