<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.rapidline">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SettingsActivity"></activity>
        <activity android:name=".Activities.Forms.RapidLine.OfficeStaffForm" />
        <activity
            android:name=".Activities.Forms.RapidLine.MaintainanceChartForm"
            android:theme="@style/RapidLineTheme" />
        <activity
            android:name=".Activities.Forms.RapidLine.FitnessTest"
            android:theme="@style/RapidLineTheme" />
        <activity
            android:name=".Activities.Forms.RapidLine.DriverSideKickForm"
            android:theme="@style/RapidLineTheme" />
        <activity
            android:name=".Activities.Forms.RapidLine.VechileForm"
            android:theme="@style/RapidLineTheme" />
        <activity
            android:name=".Activities.ViewData.RapidLine.VechilesActivity"
            android:theme="@style/RapidLineTheme" />
        <activity
            android:name=".Activities.ViewData.RapidLine.StaffRegistationActivity"
            android:theme="@style/RapidLineTheme" />
        <activity
            android:name=".Activities.ViewData.RapidLine.RapidLineHomeActivity"
            android:theme="@style/RapidLineTheme" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AdminRightsActivity" />
        <activity android:name=".Activities.Forms.AdminForm" />
        <activity
            android:name=".Activities.PrintOutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.ViewBailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Forms.AddBailForm"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.Forms.SaeedSons.LabourPatriForm"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Forms.SaeedSons.AgentForm"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.Forms.SaeedSons.SenderRecieverTransporterForm"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.ViewData.SaeedSons.ListActivities"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.ViewData.SaeedSons.SaeedSonsHomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.project.rapidline.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>